@import url("../../../stylesheets/application.css");
@import url("./responsive.css");

@import url('https://fonts.googleapis.com/css?family=Barlow|Work+Sans|Noto+Sans|Ubuntu');

/* Main Layout */

body { font-family: 'Ubuntu', sans-serif; }
#main {
  margin-top: 0px;
  border: unset !important;
  background-color: #fff;
}

#content {
  width: 80%;
  border: unset !important;
}

#sidebar {
  width: 15%;
}

#sidebar h3 {
  border-bottom: 2px solid #666;
}

#sidebar ul {
  line-height: 2em;
}

#footer {
  border: unset !important;
  background-color: #1c344b;
}

/* Projects View  */

#projects-index {
  column-count: 1;
  -webkit-column-count: 1;
  -moz-column-count: 1;
}

ul.projects.root {
  width: 50%;
}

/* Corrupts projects_table plugin
a.project.child {
  font-weight:bold;
}
*/

tr.project td {
  padding: 5px;
}
#main-menu li a,
#main-menu li a:hover {
  background-color: unset;
}
 

#main-menu li a.new-object {
  background: linear-gradient(#3fbf7f 80%, #30b070);
  padding: 4px 17px 4px 17px;
  margin-right: 10px;
  margin-left: 6px;
}

#main-menu li a.selected {
  background-color: #fff;
}

#main-menu .menu-children {
  margin-left: 6px;
  border-top: 1px solid #92abc9;
  box-shadow: 1px 1px 1px #7a7a7a;
}

#content {
  border-top: none;
  border-left: none;
  border-bottom: none;
  border-right: 1px solid #d7d7d7;
}

#main.nosidebar #content {
  border: unset;
}


#content h2:first-of-type {
  //visibility: hidden;
  //font-size: 0px;
}

#header {
  background-color: #1c344b;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: 4.5em;
  background-position: 18px 6px;
  padding: 8px 6px 20px 80px;
}

#header h1 {
  font-family: 'Ubuntu', sans-serif;
}
/* Login Form */

#login-form {
  background-color: #f8f8f8;
  border-color: #3e5b76;
}

#login-form input#login-submit {
  background-color: #1c334b;
  color: #f8f8f8;
  border: none;
  border-radius: 3px;
}

/* Issues Table */
table.issues {
  border: none;
  background-color: #fff;
}

table.issues thead th {
  border-bottom: 2px solid #666;
  background-color: unset !important;
}

table.issues tbody tr.odd, 
table.issues tbody tr.even,
table.issues tbody tr.group td {
  padding: 5px 5px;
  line-height: 1.5em;
  border-bottom: 1px solid #666;
}


table.issues tr.even {
  //background-color: #f2f2f2;
  background-color: unset !important;
}

table.issues tr.odd {
  //background-color: unset;
  background-color: unset !important;
}

table.progress { border: unset !important; }

#issue_tree table.issues tbody tr,
#relations table.issues tbody tr { 
  border: none;
  background-color: #ffffdd; }

/* Calendar */
table.cal td.today {
  background-color:#ccc;
}

table.list tr.overdue td.due_date  { color: #c22; }
