@import url("../../alternate/stylesheets/application.css");

#main {
  margin-top: 0px;
  border-left: 1px solid #d7d7d7;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  background-color: #fff;
}

#projects-index {
  column-count: 1;
  -webkit-column-count: 1;
  -moz-column-count: 1;
}

ul.projects.root {
  width: 50%;
}

/* Corrupts projects_table plugin
a.project.child {
  font-weight:bold;
}
*/

tr.project td {
  padding: 5px;
}
#main-menu li a,
#main-menu li a:hover {
  background-color: unset;
}
 

#main-menu li a.new-object {
  background: linear-gradient(#3fbf7f 80%, #30b070);
  padding: 4px 17px 4px 17px;
  margin-right: 10px;
  margin-left: 6px;
}

#main-menu li a.selected {
  background-color: #fff;
}

#main-menu .menu-children {
  margin-left: 6px;
  border-top: 1px solid #92abc9;
  box-shadow: 1px 1px 1px #7a7a7a;
}

#content {
  border-top: none;
  border-left: none;
  border-bottom: none;
  border-right: 1px solid #d7d7d7;
}

#main.nosidebar #content {
  border: unset;
}


#content h2:first-of-type {
  //visibility: hidden;
  //font-size: 0px;
}

#header {
  background-color: #1c344b;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: 4.5em;
  background-position: 18px 6px;
  padding: 8px 6px 20px 80px;
}

/* Login Form */

#login-form {
  background-color: #f8f8f8;
  border-color: #3e5b76;
}

#login-form input#login-submit {
  background-color: #1c334b;
  color: #f8f8f8;
  border: none;
  border-radius: 3px;
}

/* Calendar */
table.cal td.today {
  background-color:#ccc;
}
